<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><mark class="text-capitalize"><%= comment.user.name %></mark></h6>
    <p class="card-text"><%= comment.content %></p>
<!--     <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
