<article class="comment">
  <div class="comment-info">
    <%= user_thumbnail_and_name(comment.user) %>
    <%= created_at_in_words(comment) %>
  </div>
  <div class="comment-content">
    <%= comment.content %>
  </div>

  <% if policy(comment).destroy? %>
    <div class="text-right">
      <%= button_to 'Delete', comment, method: :delete, class: 'btn btn-danger' %>
    </div>  
  <% end %>

</article>


<!--
User picture
User name
Comment at when in words
Comment delete
Comment

  -->
