<% if user_signed_in? %>
  <p>Comment as <%= user_link(current_user, 'comment_as_link') { current_user.name } %></p>
  <%= render 'comments/form', topic: @topic, comment: @comment %>
<% else %>
  <div style="margin-bottom: 2rem;">
    <%= link_to 'Please sign in for joining the discussion.', new_user_session_path %>
  </div>
<% end %>

<section id="discussion">
  <h5>Discussion</h5>
  <%= render(@topic.comments_with_eager_loading) || 
  no_content_message('No one has commented yet. Be the first to start the discussion!') %>
</section>
