<div id="errors_explanation" class="text-danger">
  <h4><%= pluralize(@topic.errors.size, 'error') %> prohibited this topic from being saved:</h4>
  <ul>
    <% @topic.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
