<footer class="text-center">
  <%= link_to 'Github repo', 'https://github.com/aurangzaib-danial/discuss-party', target: '_blank' %>

  <%= link_to 'Blog post', 'https://dev.to/aurangzaibdanial/discuss-party-1bg4', target: '_blank' %>

  <%= link_to 'Walkthrough + Code review', 'https://youtu.be/AiHF9du42mo', target: '_blank' %>

  <span>MADE WITH <i class="fas fa-heart text-danger"></i> BY 
  <%= link_to 'Aurangzaib Danial', 'https://github.com/aurangzaib-danial', target: '_blank' %>
  </span>
</footer>

