<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Manage
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'Manage tags', manage_tags_path, class: 'dropdown-item' %>
    <a href="#" class="dropdown-item">Topic Reports(5)</a>
    <% if current_user.admin? %>
      <a href="#" class="dropdown-item">Moderators managment</a>  
    <% end %>
  </div>
</li>
