<% title 'Reports' %>

<h2 id="simpleHeading" class="text-center" style="margin-bottom: 1rem;">Reports</h2>

<% if @reports.present? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Visibility</th>
        <th scope="col">Total Reports</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="text-center">Nothing to report.</p>
<% end %>

