<% title 'Moderators' %>

<h2 id="simpleHeading" class="text-center">Moderators</h2>

<div class="manage-button">
  <%= link_to 'Create Moderator', new_manage_moderator_path, class: 'btn btn-lg btn-outline-primary' %>
</div>

<table class="table moderators-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @moderators.each do |moderator| %>
      <tr>
        <td><%= user_link(moderator) {moderator.name} %></td>
        <td><%= mail_to moderator.email %></td>
        <td>
        <%= link_to('Remove', manage_moderator_path(moderator), method: :delete, 
          data: {confirm: "Are you sure you want to remove #{moderator.name.titlecase}?"}, class: 'btn btn-outline-danger')%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
