<h2 id="top-heading" class="text-capitalize"><%= @tag.name %></h2>

<%= render(@tag.topics.by_created_at(:desc)) || 
  no_content_message('No topic available for this tag, be the first to create one.', new_topic_path) %>
