<%= render 'partials/sorting_nav' %>
<h2 id="top-heading" ><span class="text-capitalize"><%= @tag.name %></span></h2>

<%= render(@topics) || 
  no_content_message("No topic available for #{@tag.name.capitalize}, be the first to create one.", new_topic_path) %>
