@import "bootstrap/scss/bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts'; 
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "bootstrap-social.css";
@import "./*";
@import "./manage/*";


#simpleHeading {
  margin-top: 1.5rem;
}

#topHeading {
  display: inline-block;
}

.right-nav-ul {
  margin-right: 20px;
}

.flash-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-alert {
  display: inline-block;
  margin: 0;
  margin-top: 20px;
}

#errors_explanation {
  margin-top: 20px;
}

.card {
  margin-bottom: 1rem;
}

.card-title {
  margin-bottom: 1rem;
}

#sorting_nav {
  margin: 2rem 0;
}

.topic_information {
  line-height: 2rem;
}

.topic_information a, .user-link {
  @extend .text-dark;
}

.topic_information a.special-link {
  @extend .text-info;
}
