@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./*";


#top-heading {
  margin: 2rem 0 1rem;
}

.right-nav-ul {
  margin-right: 20px;
}


.flash-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-alert {
  display: inline-block;
  margin: 0;
  margin-top: 20px;
}

#errors_explanation {
  margin-top: 20px;
}

.card {
  margin-bottom: 1rem;
}

#sorting_nav {
  margin: 2rem 0;
}

.topic_information {
  line-height: 2rem;
}

.topic_information a {
  @extend .text-dark;
}

.topic_information a.edit-link {
  @extend .text-info
}
