#discussion {
  margin: 2rem 0;
}

#discussion h4 {
  margin-bottom: 2rem;
  display: inline-block;
}

.comment-trix-editor {
  min-height: 122px;
}
.invalid-comment {
  border-color: red;
}

.comment {
  margin-bottom: 1.2rem;
  padding: 1.2rem;
  min-height: 5rem;
  background: #faf8f7;
  border-radius: 1.6rem;
}

.comment-info a{
  font-weight: bold;
}

.comment_as_link, .comment_as_link:hover {
  color: #0d669e;
  font-weight: 400;
}

.comment-content {
  margin-top: 20px;
}
