
#topPagination, .comments-top-pagination {
  float: right;
}

.custom-pagination nav ul {
  justify-content: center !important;
}

@media screen and (max-width: 800px) {
  #topPagination, .comments-top-pagination {
    float: none;
  }

  
  #discussion h4 {
    margin-bottom: 1rem;
    display: block;
  }

  #topHeading {
    display: block;
  }

  #topPagination {
    margin-top: 0.75rem;
  }
}


