// ul.custom_pagination {
//   margin-bottom: 1.5rem;
// }

#topPagination {
  float: right;
}

@media screen and (max-width: 800px) {
  #topPagination {
    float: none;
  }

  #topHeading {
    display: block;
  }

  ul.custom_pagination {
    margin-top: 0.75rem;
  }
}
