.voting {
  margin-bottom: 1rem;
}

.voting form {
  display: inline-block;
}

.thumb-marked, .thumb-marked:hover {
  color: teal;
}

.vote_count {
  display: inline-block;
  position: relative;
  top: 2px;
}


