@media screen and (min-width: 1200px) {
  @media screen and (max-width: 1366px) {
    span.short_name {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 15ch;
    }
  }
  @media screen and (max-width: 1300px) {
    span.short_name {
      max-width: 8ch;
    }
  }

  @media screen and (max-width: 1240px) {
    span.short_name {
      max-width: 5ch;
    }
  }
}

img.rounded-thumbnail{
  border-radius: 100%;
  margin-right: 5px;
}
